<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/Chapter6_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import os

In [10]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')

In [11]:
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

#[Q] มีประเทศสาขาของ supermarket นี้ทั้งหมดกี่ประเทศ

In [12]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [13]:
len(set(data['Country']))

38

#การบ้านครั้งที่ 13 วาดกราฟสรุปจำนวน items และ ยอดขายของแต่ละประเทศ

In [16]:
from matplotlib import pyplot as plt

In [17]:
import numpy as np

In [19]:
data_1 = data['Quantity']
data_2 = data_1.iloc[:50]
data_2

0      6
1      6
2      8
3      6
4      6
5      2
6      6
7      6
8      6
9     32
10     6
11     6
12     8
13     6
14     6
15     3
16     2
17     3
18     3
19     4
20     4
21     6
22     3
23     3
24     3
25     3
26    24
27    24
28    12
29    12
30    24
31    48
32    24
33    18
34    24
35    24
36    24
37    24
38    20
39    24
40    24
41    12
42    24
43    24
44    36
45     3
46    80
47     6
48     6
49     6
Name: Quantity, dtype: int64

In [20]:
data_data = data['Quantity'] * data['UnitPrice']
data_data

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Length: 541909, dtype: float64