<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/DATA101_(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีของ PYTHON คือ package สำหรับการทำงานต่างๆมากมาย

ซึ่ง package สำหรับทำงานกับข้อมูลที่อยู่ในรูปแบบตารางง

โดย pandas เป็น packge สำหรับการทำงานกับข้อมูลที่อยู่ในรูแบบตารางโดย pandas จะรียกว่า dataframe

In [ ]:
import pandas #แพ็คเกจในการจัดเก็บข้อมูล #วิธีเรียกใช้แพ็คเกจ คือ การ import ตามด้วยชื่อ แพ็คเกจ

In [1]:
import pandas as pd #pd คือ การตั้งชื่อไฟล์ที่โหลดมาว่า pd

ไฟล์ .csv ( comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

#แบบที่1

In [5]:
data_df = pd.read_csv('DATA.csv')

In [6]:
data_df

   name  age     city
0   tom   27  konkaen
1  paul   15   bankok
2  sara   49   london

#แบบที่2

In [11]:
data_df2 = pd.read_csv('DATA.csv')
data_df2

   name  age     city
0   tom   27  konkaen
1  paul   15   bankok
2  sara   49   london

#Basic Python
##variable

In [12]:
variable_a = 12
variable_b = 'abcde'
variable_b = variable_a

In [13]:
variable_a

12

In [14]:
variable_b

12

In [17]:
variable_c

12

# (พยายาม) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ เเต่ไม่ตวรใช้
ตัวแปร = 3
ตัวแปร

In [18]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a =1
v_a =2
print(v_a)
print(v_a)

2
2

In [19]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
2ab = 1

SyntaxError: ignored

In [20]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
variable1 = 1

In [21]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a =1
v_a =2
print(v_a)
print(v_a)

2
2

In [22]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
2ab = 1

SyntaxError: ignored

In [23]:
print(variable1)

1

In [24]:
variable_a = 12
variable_b = 'abcde'     # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"     # " เรียกว่า double quote

In [25]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [26]:
variable_a + variable_b

TypeError: ignored

In [27]:
print(variable_b + variable_4)

abcdeKKU

#Casting int() float() str()

In [28]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [29]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [30]:
V_X + variable_a

TypeError: ignored

In [ ]:
variable_a + V_X

In [ ]:
V_X

In [31]:
float(V_X)

-29.200000000000003

#Data Structure
list()

In [32]:
list_a = [1,2,0.2,'abs',] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.2]]

In [33]:
list_a

[1, 2, 0.2, 'abs']

In [34]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [35]:
len(list_b)  # len เอาไว้ดูสมาชิกใน list นั้นๆ

4

In [36]:
list_b[3]

[1, 2, 0.2]

In [37]:
list_b[3][1]

2


string คือ list ของตัวหนังสือ

In [38]:
a = 'Stat KKU'

In [39]:
a[4]

' '

วิธีการสร้าง list ว่าง

In [40]:
list_c = list() #แบบที่ 1
list_d = [ ] #เเบบที่ 2

In [41]:
list_c

[]

In [42]:
list_d

[]


เติมค่าลงไปใน list (.append())

In [43]:
list_d.append(a)

In [44]:
list_d.append(56)

In [45]:
list_d

['Stat KKU', 56]

การชี้ค่าใน list (indexing)

  ใช้ลำดับในการชี้

  ลำดับเริ่มจาก 0

  สามารถชี้จากข้่างหลังได้โดยใช้ negative index

In [46]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [47]:
list_b[-1]

[1, 2, 0.2]

#list slicing

In [48]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [49]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [50]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [51]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [52]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [53]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [54]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [55]:
a

'Stat KKU'

In [56]:

a[5:]

'KKU'

In [57]:
a[-3:]

'KKU'

In [58]:
a[5:8]

'KKU'

In [59]:
a[5::]

'KKU'

In [60]:
a[-3::]

'KKU'

In [61]:
a[-3::1]

'KKU'


#list + list

In [62]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]

In [63]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.2]]


format string

f'string{ตัวแปร}'
{} เรียกว่า curly brackets

In [64]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

#Loop

for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something

In [65]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [66]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [67]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [70]:
for i in range(2,7,2):
    print(i)

2
4
6

In [71]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [72]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#Nested loop

In [73]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#Condition
#Function