<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/DATA101_(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีของ PYTHON คือ package สำหรับการทำงานต่างๆมากมาย

ซึ่ง package สำหรับทำงานกับข้อมูลที่อยู่ในรูปแบบตารางง

โดย pandas เป็น packge สำหรับการทำงานกับข้อมูลที่อยู่ในรูแบบตารางโดย pandas จะรียกว่า dataframe

In [ ]:
import pandas #แพ็คเกจในการจัดเก็บข้อมูล #วิธีเรียกใช้แพ็คเกจ คือ การ import ตามด้วยชื่อ แพ็คเกจ

In [ ]:
import pandas as pd #pd คือ การตั้งชื่อไฟล์ที่โหลดมาว่า pd

ไฟล์ .csv ( comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

#แบบที่1

In [ ]:
data_df = pd.read_csv('DATA.csv')

In [ ]:
data_df

   name  age     city
0   tom   27  konkaen
1  paul   15   bankok
2  sara   49   london

#แบบที่2

In [ ]:
data_df2 = pd.read_csv('DATA.csv')
data_df2

   name  age     city
0   tom   27  konkaen
1  paul   15   bankok
2  sara   49   london

#Basic Python
##variable

In [ ]:
variable_a = 12
variable_b = 'abcde'
variable_b = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

12

In [ ]:
variable_c

NameError: ignored

# (พยายาม) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ เเต่ไม่ตวรใช้
ตัวแปร = 3
ตัวแปร

In [ ]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a =1
v_a =2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
2ab = 1

SyntaxError: ignored

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
variable1 = 1

In [ ]:
# ตัวเล็กกับตัวใหญ่ เเตกต่างกัน (case sensitive)
v_a =1
v_a =2
print(v_a)
print(v_a)

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหนา
2ab = 1

SyntaxError: ignored

In [ ]:
print(variable1)

NameError: ignored

In [ ]:
variable_a = 12
variable_b = 'abcde'     # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"     # " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

NameError: ignored

In [ ]:
variable_a + variable_b

In [ ]:
print(variable_b + variable_4)

#Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

NameError: ignored

In [ ]:
V_X = str(variable_x)
print(V_X)

In [ ]:
V_X + variable_a

NameError: ignored

In [ ]:
variable_a + V_X

In [ ]:
V_X

In [ ]:
float(V_X)

NameError: ignored

#Data Structure
list()

In [ ]:
list_a = [1,2,0.2,'abs',] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.2]]

In [ ]:
list_a

NameError: ignored

In [ ]:
list_b

In [ ]:
len(list_b)  # len เอาไว้ดูสมาชิกใน list นั้นๆ

In [ ]:
list_b[3]

NameError: ignored

In [ ]:
list_b[3][1]


string คือ list ของตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

NameError: ignored

วิธีการสร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = [ ] #เเบบที่ 2

In [ ]:
list_c

NameError: ignored

In [ ]:
list_d


เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append(a)

NameError: ignored

In [ ]:
list_d.append(56)

In [ ]:
list_d

การชี้ค่าใน list (indexing)

  ใช้ลำดับในการชี้

  ลำดับเริ่มจาก 0

  สามารถชี้จากข้่างหลังได้โดยใช้ negative index

In [ ]:
list_b

NameError: ignored

In [ ]:
list_b[-1]

#list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งเเต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง]

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]  # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

NameError: ignored

In [ ]:

a[5:]

NameError: ignored

In [ ]:
a[-3:]

In [ ]:
a[5:8]

In [ ]:
a[5::]

NameError: ignored

In [ ]:
a[-3::]

In [ ]:
a[-3::1]


#list + list

In [ ]:
print(list_a)
print(list_b)

NameError: ignored

In [ ]:
list_a + list_b


format string

f'string{ตัวแปร}'
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

NameError: ignored

#Loop

for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something

In [ ]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
    print(i)

2
4
6

In [ ]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

#Nested loop

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

#Condition ( if satatement )

if เงื่อนไขที่จะตรวจสอบ ( ==, !=, <, >, <=, >=) :
  ถ้าเงื่อนไขเป็นจริง ทำงาน 1
  ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน a1
  ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
  ถ้าเงื่อนไขเป็นจริง ทำงาน b1
  ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else : #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
  ทำงานที่ x

In [ ]:
passwoed = '12345'

input_pass = '123sf'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password):
  print('Too long, tryagฟin')
elif len(input_pass) < len(password):
     print('Too short, try agฟin')
elif:
  print('Wrong password, try again!')

SyntaxError: ignored

In [ ]:
stringx = 'ajaiopakdfapodkapdfka'

if len(stringx) > 30:
  print (f'{string} is longer than 30 charecters')

In [ ]:
stringx = 'ajaiopakdfapodkapdfka'

if len(stringx) > 100:
  print (f'{string} is longer than 100 charecters')
else :
  print (f'{stringx} is {len(stringx)} charecters long')

ajaiopakdfapodkapdfka is 21 charecters long

In [ ]:
password = '12345'

input_pass = '123'
if input_pass == password:
  print('Welcome!')
elif len(input_pass) > len(password) :
  print ('Too long, Try again')
elif len(input_pass) < len(password) :
  print ('Too short, Try again')
else :
  print ('Wrong passwords, Try again')

Too short, Try again

#QUIZ 1 หา MIN

In [ ]:
list_ex = [1,5,9,-19,-2,0] #หาค่านอยที่สุดใน list_ex โดยไม่ใช้ function min

In [ ]:
list_ex[3:4:2]

[-19]

#เฉลย

In [ ]:
min = 1000000

for i in list_ex:
  if i < min:
    min = i
print(min)

-19

In [ ]:
min = 1000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
  if i < min:
      print(f'i<min, update min -> {i}')

    min = i
print(min)

#Quize 3

In [18]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

เกณฑ์คะเเนนในการตัดเกรด
80+ = A , 75 - 79 = B+ , 70-74 = B , 65 - 69 = C+

60 - 64 = C , 55 - 59 = D+ , 50 - 54 =D , 49 - 0 = F

In [19]:
# list ของเกรดแต่ละช่วง
list_A = []
list_Bplus = []
list_B = []
list_Cplus = []
list_C = []
list_Dplus = []
list_D = []
list_F = []

In [20]:
# loop ของคะแนนตามช่วง
for i in  score[:]:
    if i >= 80:
      list_A.append(i)   
    if 75 <= i <= 79:
      list_Bplus.append(i)
    if 70 <= i <= 74:
      list_B.append(i)
    if 65 <= i <= 69:
      list_Cplus.append(i)
    if 60 <= i <= 64:
      list_C.append(i)
    if 55 <= i <= 59:
      list_Dplus.append(i)
    if 50 <= i <= 54:
      list_D.append(i)
    if i <= 49:
      list_F.append(i)

In [21]:
# เกรด คะแนน เเละจำนวนคนที่ได้
print(f'ได้เกรด A      {len(list_A)}  คน      คือ {list_A}')
print(f'ได้เกรด B+    {len(list_Bplus)} คน       คือ {list_Bplus}')
print(f'ได้เกรด B      {len(list_B)}  คน      คือ {list_B}')
print(f'ได้เกรด C+   {len(list_Cplus)} คน        คือ {list_Cplus}')
print(f'ได้เกรด C      {len(list_C)}  คน      คือ {list_C}')
print(f'ได้เกรด D+   {len(list_Dplus)} คน        คือ {list_Dplus}')
print(f'ได้เกรด D     {len(list_D)}  คน       คือ {list_D}')
print(f'ได้เกรด F      {len(list_F)}  คน       คือ {list_F}')

ได้เกรด A      4  คน      คือ [95, 82, 89, 81]
ได้เกรด B+    2 คน       คือ [77, 77]
ได้เกรด B      1  คน      คือ [70]
ได้เกรด C+   1 คน        คือ [65]
ได้เกรด C      0  คน      คือ []
ได้เกรด D+   2 คน        คือ [55, 59]
ได้เกรด D     0  คน       คือ []
ได้เกรด F      3  คน       คือ [49, 20, 10]

#ตัวอย่าง 2 (ไม่มี input)

In [23]:
def mypi():
    return 3.14

In [24]:
r = 10
print(f'รัศมี={r} จะมีเส้นรอบวง={2*mypi()}')

รัศมี=10 จะมีเส้นรอบวง=6.28

#ตัวอย่างที่ 3 (ไม่มี output)

In [25]:
def grading2(score):
    grade_list = []
    for score in list_score:
        if score >= 80:
            print  ('ได้เกรด A')
        elif score >= 75:
            print  ('ได้เกรด B+')
        elif score >= 70:
            print  ('ได้เกรด B')
        elif score >= 65:
            print  ('ได้เกรด C+')
        elif score >= 60:
            print  ('ได้เกรด C')
        elif score >= 55:
            print  ('ได้เกรด D+')
        elif score >= 50:
            print  ('ได้เกรด D')
        else:
            print  ('ได้เกรด F')

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
     print (f'คะแนน {i} ได้เกรด {grading(i)} ')

#ตัวอย่าง 3 (ไม่มี input และ output)

In [27]:
def draw_rect():
    print('=======')
    print('|              |')
    print('|              |')
    print('=======')

In [28]:
draw_rect()
draw_rect()

=======
|              |
|              |
=======
=======
|              |
|              |
=======

#ลักษณะของ input (พารามิเตอร์)

จำเป็นต้องใส่ (non-default argument)

ไม่จำเป็นต้องใส่ (default argument)

In [ ]:
def a(b): #ขาด Process ข้างในไม่ได้

In [ ]:
def A(input1, input2 = 3 ): #จำเป็นต้องใส่ค่า input เพราะมีกำหนดค่าเริ่มต้น
    return input1+input2

In [30]:
A(1) #ไม่ได้ใส่ input 2

4

In [31]:
A(1,6) #ใส่ input ทั้งสอง

7

In [ ]:
ef printlove(input1,input2 = 'Stat' ,input3 = 'KKU'): #จำเป็นต้องใส่ค่า input เพราะมีกำหนดค่าเริ่มต้น
    print (f'{input1} love {input2} {input3}')

In [ ]:
printlove('Chanachai')

In [ ]:
printlove('Chanachai' ,'SI' ,'Stat')

#Quize 4
สร้างฟังก์ชั่น

วาดรูปบ้าน
วาดรูปต้นไม้

In [42]:
def My_home():
    print('   /\  ')
    print('  /__\  ')
    print('  |__|   ')

In [43]:
My_home()

   /\
  /__\
  |__|

In [40]:
def tree():
    print('    /\     ')
    print('   /  \    ')
    print('  /____\   ')
    print('    ||     ')

In [41]:
tree()

    /\
   /  \
  /____\
    ||