<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  #ทำงานกับข้อมูลลักษณะตาราง

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #จัดการไฟล์และ pat

In [10]:
path = '/content/drive/My Drive/DWDM2021_DATA'
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

##Meta Data ( Data ที่ใชอธิบาย Data )

##ชีข้อมูลตาราง

##แบบธรรมดา ใช้้[ชื่อ colum][รืกำป]

In [11]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

In [12]:
data_cases['risk'][678]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

#Quiz 3 ให้หาว่าการทำ dropna() ทำให้ข้อมูลหายไปกี่ %

size before drop = 1000

size after drop = 10

we loss 99% of data

In [23]:
data_cases.shape[0]
print(f'size before drop = {data_cases.shape[0]}')
data_cases.dropna().shape[0]
print(f'size after drop = {data_cases.dropna().shape[0]}')
ผลต่าง = ((data_cases.shape[0] - data_cases.dropna().shape[0])/data_cases.shape[0])*100
print(f'we loss {ผลต่าง}% of data')

size before drop = 512622
size after drop = 362205
we loss 29.342673548930794% of data