<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/DATA101_(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อดีของ PYTHON คือ package สำหรับการทำงานต่างๆมากมาย

ซึ่ง package สำหรับทำงานกับข้อมูลที่อยู่ในรูปแบบตารางง

โดย pandas เป็น packge สำหรับการทำงานกับข้อมูลที่อยู่ในรูแบบตารางโดย pandas จะรียกว่า dataframe

In [1]:
import pandas #แพ็คเกจในการจัดเก็บข้อมูล #วิธีเรียกใช้แพ็คเกจ คือ การ import ตามด้วยชื่อ แพ็คเกจ

In [2]:
import pandas as pd #pd คือ การตั้งชื่อไฟล์ที่โหลดมาว่า pd

ไฟล์ .csv ( comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

#แบบที่1

In [3]:
data_df = pd.read_csv('DATA.csv')

In [6]:
data_df

   name  age       city
0   tom   27  khon kaen
1  paul   15    bangkok
2  sara   49     london

#แบบที่2

In [13]:
data_df2 = pandas.read_csv('DATA.csv')
data_df2

   name  age       city
0   tom   27  khon kaen
1  paul   15    bangkok
2  sara   49     london

#Basic Python
##variable

In [16]:
variable_a = 12
variable_b = 'abcde'
variable_b = variable_a

In [17]:
variable_a

12

In [19]:
variable_b

'abcde'

In [20]:
variable_c

12