<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/Project%20for%20Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ปัญหา : ต้องการพยากรณ์ว่าค่าเฉลี่ยนของประชากรของแต่ละจังหวัดมีลต่อการเลือกใช้ประเภทของระบบกำจัดของเสียประเภทใด

In [1]:
import pandas as pd #ทำงานกับข้อมูลลักษณะตาราง

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # os ไว้จัดการไฟล์และถาท ถาทคือที่อยู่ของไฟล์

In [79]:
path = '/content/drive/My Drive/DWDM2021_DATA' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_BB = pd.read_csv(os.path.join(path,'บำบัดน้ำเสีย.csv'))
data_BB #ข้อมูลหลักชุดที่ 1

     ที่  ...                          แหล่งงบประมาณ
0      1  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
1      2  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
2      3  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
3      4  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
4      5  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
..   ...  ...                                    ...
153  154  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
154  155  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
155  156  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
156  157  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม
157  158  ...  กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม

[158 rows x 11 columns]

In [66]:
data_PP = pd.read_csv(os.path.join(path,'ค่าเฉลี่ยประชากร.csv'))
data_PP.dropna() #ข้อมูลรองชุดที่ 2

          จังหวัด  15 - 39 ปี  40 - 59 ปี  ...  15 ปีขึ้นไป  60 ปีขึ้นไป  ผลเฉลี่ย
0   กรุงเทพมหานคร       12.30       10.87  ...        11.11         8.13     54.07
1     สมุทรปราการ       11.17        9.38  ...         9.88         7.29     48.06
2         นนทบุรี       12.12       10.87  ...        10.86         8.06     53.40
3        ปทุมธานี       11.33       10.20  ...        10.31         7.08     49.76
4          อยุธยา       11.11        9.04  ...         9.32         5.47     45.20
..            ...         ...         ...  ...          ...          ...       ...
72           ตรัง       10.16        8.31  ...         8.45         5.06     41.27
73         พัทลุง       10.83        8.67  ...         8.51         4.83     42.59
74        ปัตตานี        9.77        7.03  ...         7.70         3.67     36.85
75           ยะลา       10.69        8.05  ...         8.63         3.56     40.54
76       นราธิวาส        9.22        6.51  ...         7.23         2.97     34.05

[77 rows x 7 columns]

In [67]:
data_PC = pd.read_csv(os.path.join(path,'รายได้เฉลี่ย.csv'))
data_PC.dropna() #ข้อมูลรองชุดที่ 3

          จังหวัด รหัสจังหวัด  ...        2561     รวมเฉลี่ย
0   กรุงเทพมหานคร       th-bm  ...  1051118.51  5.383503e+06
1       กาญจนบุรี       th-kn  ...    27138.35  1.295467e+05
2        จันทบุรี       th-ct  ...     8469.45  4.042424e+04
3      ฉะเชิงเทรา       th-cc  ...     5007.28  2.897594e+04
4          ชลบุรี       th-cb  ...   272435.77  1.144431e+06
..            ...         ...  ...         ...           ...
72          ระนอง       th-rn  ...     4706.13  2.589797e+04
73          สงขลา       th-sg  ...    68097.42  3.339657e+05
74           สตูล       th-sa  ...     9101.47  4.895520e+04
75   สุราษฎร์ธานี       th-st  ...   104503.71  4.825130e+05
76         บึงกาฬ       th-bk  ...     1047.13  4.415360e+03

[77 rows x 10 columns]

#ดูว่าข้อมูลมี data missing

In [68]:
data_BB.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

       ที่    ภาค  ...   ปริมาณขยะที่รองรับได้ (ตัน/วัน)   แหล่งงบประมาณ
0    False  False  ...                              False          False
1    False  False  ...                              False          False
2    False  False  ...                              False          False
3    False  False  ...                              False          False
4    False  False  ...                              False          False
..     ...    ...  ...                                ...            ...
153  False  False  ...                              False          False
154  False  False  ...                               True          False
155  False  False  ...                              False          False
156  False  False  ...                              False          False
157  False  False  ...                              False          False

[158 rows x 12 columns]

In [69]:
data_PP.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

    จังหวัด  15 - 39 ปี  40 - 59 ปี  ...  15 ปีขึ้นไป  60 ปีขึ้นไป  ผลเฉลี่ย
0     False       False       False  ...        False        False     False
1     False       False       False  ...        False        False     False
2     False       False       False  ...        False        False     False
3     False       False       False  ...        False        False     False
4     False       False       False  ...        False        False     False
..      ...         ...         ...  ...          ...          ...       ...
72    False       False       False  ...        False        False     False
73    False       False       False  ...        False        False     False
74    False       False       False  ...        False        False     False
75    False       False       False  ...        False        False     False
76    False       False       False  ...        False        False     False

[77 rows x 7 columns]

In [70]:
data_PC.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

    จังหวัด  รหัสจังหวัด   2555   2556  ...   2559   2560   2561  รวมเฉลี่ย
0     False        False  False  False  ...  False  False  False      False
1     False        False  False  False  ...  False  False  False      False
2     False        False  False  False  ...  False  False  False      False
3     False        False  False  False  ...  False  False  False      False
4     False        False  False  False  ...  False  False  False      False
..      ...          ...    ...    ...  ...    ...    ...    ...        ...
72    False        False  False  False  ...  False  False  False      False
73    False        False  False  False  ...  False  False  False      False
74    False        False  False  False  ...  False  False  False      False
75    False        False  False  False  ...  False  False  False      False
76    False        False  False  False  ...  False  False  False      False

[77 rows x 10 columns]

#สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing

In [80]:
data_BB.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

ที่                       False
ภาค                       False
จังหวัด                   False
หน่วยงานที่รับผิดชอบ      False
ที่ตั้ง                   False
ชื่อย่อของระบบ            False
ประเภทของระบบ             False
พ.ศ. ที่ได้รับงบประมาณ    False
พ.ศ. \nที่เปิดใช้งาน      False
สถานภาพปัจจุบัน           False
แหล่งงบประมาณ             False
dtype: bool

In [73]:
data_PP.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

จังหวัด        False
15 - 39 ปี     False
40 - 59 ปี     False
15 - 59 ปี     False
15 ปีขึ้นไป    False
60 ปีขึ้นไป    False
ผลเฉลี่ย       False
dtype: bool

In [74]:
data_PC.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

จังหวัด        False
รหัสจังหวัด    False
2555           False
2556           False
2557           False
2558           False
2559           False
2560           False
2561           False
รวมเฉลี่ย      False
dtype: bool

จากการตรวจสอบค่า missing value ของทั้ง 3 ชุดข้อมูลพบว่ามีค่าเป็น False หมด

#รวมตาราง

In [81]:
table = pd.merge(data_BB,data_PP,on='จังหวัด') #รวมตารางข้อมูลชุดที่ 1 และ 2

In [82]:
table

     ที่                 ภาค      จังหวัด  ... 15 ปีขึ้นไป 60 ปีขึ้นไป ผลเฉลี่ย
0      1               เหนือ     เชียงราย  ...        7.24        3.90    36.36
1      2               เหนือ     เชียงราย  ...        7.24        3.90    36.36
2      3               เหนือ     เชียงราย  ...        7.24        3.90    36.36
3      4               เหนือ    เชียงใหม่  ...        7.96        4.49    39.06
4      5               เหนือ    เชียงใหม่  ...        7.96        4.49    39.06
..   ...                 ...          ...  ...         ...         ...      ...
146  154  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...        7.33        4.47    36.25
147  155  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...        7.33        4.47    36.25
148  156  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...        7.33        4.47    36.25
149  157  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...        7.33        4.47    36.25
150  158  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...        7.70        4.70    38.66

[151 rows x 17 columns]

In [83]:
table_3 = pd.merge(table,data_PC,on='จังหวัด') #รวมตารางข้อมูลชุดที่ 1 และ 2 และ 3

In [84]:
table_3

     ที่                 ภาค      จังหวัด  ...      2560       2561  รวมเฉลี่ย
0      1               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
1      2               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
2      3               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
3      4               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
4      5               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
..   ...                 ...          ...  ...       ...        ...        ...
145  154  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
146  155  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
147  156  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
148  157  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
149  158  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...    429.93     449.62    2585.07

[150 rows x 26 columns]

In [85]:
table_3.isnull().any()

ที่                       False
ภาค                       False
จังหวัด                   False
หน่วยงานที่รับผิดชอบ      False
ที่ตั้ง                   False
ชื่อย่อของระบบ            False
ประเภทของระบบ             False
พ.ศ. ที่ได้รับงบประมาณ    False
พ.ศ. \nที่เปิดใช้งาน      False
สถานภาพปัจจุบัน           False
แหล่งงบประมาณ             False
15 - 39 ปี                False
40 - 59 ปี                False
15 - 59 ปี                False
15 ปีขึ้นไป               False
60 ปีขึ้นไป               False
ผลเฉลี่ย                  False
รหัสจังหวัด               False
2555                      False
2556                      False
2557                      False
2558                      False
2559                      False
2560                      False
2561                      False
รวมเฉลี่ย                 False
dtype: bool

In [86]:
table_3.shape #ตาราง table_3 มี 77 แถว 33 colum

(150, 26)

In [87]:
table_3.mean() #ตวจสอบค่าเฉลี่ยของแต่ละบริษัท

ที่                           79.153333
พ.ศ. ที่ได้รับงบประมาณ      2549.053333
พ.ศ. \nที่เปิดใช้งาน        2550.713333
15 - 39 ปี                    10.497533
40 - 59 ปี                     7.693200
15 - 59 ปี                     9.145400
15 ปีขึ้นไป                    8.140333
60 ปีขึ้นไป                    4.760867
ผลเฉลี่ย                      40.237333
2555                       10385.662333
2556                       11989.199000
2557                       12636.413200
2558                       14522.160133
2559                       17566.919267
2560                       20875.488619
2561                       23311.618067
รวมเฉลี่ย                 111287.460619
dtype: float64

#ตรวจสอบดูการลบข้อมูลที่ซ้ำกัน

In [94]:
table_3_un = table_3.drop_duplicates()
table_3_un

     ที่                 ภาค      จังหวัด  ...      2560       2561  รวมเฉลี่ย
0      1               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
1      2               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
2      3               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
3      4               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
4      5               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
..   ...                 ...          ...  ...       ...        ...        ...
145  154  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
146  155  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
147  156  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
148  157  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
149  158  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...    429.93     449.62    2585.07

[150 rows x 26 columns]

จากการตรวจสอบข้อมูลที่ซ้ำ ของ table พบว่าไม่มีค่าข้อมูลที่ซ้ำกัน

#Data Mining

#สร้างตารางที่ใช้ในการดู challenge

In [95]:
data = table_3[['จังหวัด','ประเภทของระบบ','ผลเฉลี่ย','รวมเฉลี่ย']]
data

         จังหวัด                           ประเภทของระบบ  ผลเฉลี่ย  รวมเฉลี่ย
0       เชียงราย                             ระบบผสมผสาน     36.36  160035.50
1       เชียงราย  ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล     36.36  160035.50
2       เชียงราย                             ระบบผสมผสาน     36.36  160035.50
3      เชียงใหม่                             ระบบผสมผสาน     39.06  557866.57
4      เชียงใหม่                    สถานีขนถ่ายขยะมูลฝอย     39.06  557866.57
..           ...                                     ...       ...        ...
145  อุบลราชธานี  ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล     36.25   42377.14
146  อุบลราชธานี                ระบบเตาเผามูลฝอยติดเชื้อ     36.25   42377.14
147  อุบลราชธานี  ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล     36.25   42377.14
148  อุบลราชธานี  ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล     36.25   42377.14
149   อำนาจเจริญ  ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล     38.66    2585.07

[150 rows x 4 columns]

In [96]:
data.shape #ข้อมูลนี้มี 77 แถว 4 คอลัม

(150, 4)

In [97]:
data.isnull().any() #ตรวจสอบว่าตารางมีค่าว่างหรือไม่ จะเห็นว่าไม่คอลัมน์ที่มีค่าว่าง

จังหวัด          False
ประเภทของระบบ    False
ผลเฉลี่ย         False
รวมเฉลี่ย        False
dtype: bool

#สร้างตารางที่ค่าเฉลี่ยนประชากรมากกว่า 40

In [109]:
data = table_3[table_3['ผลเฉลี่ย']>=40]
data

     ที่                 ภาค    จังหวัด  ...       2560       2561  รวมเฉลี่ย
8      9               เหนือ      พะเยา  ...    1286.52    1380.38    7862.51
9     10               เหนือ       แพร่  ...    1573.38    1689.51    9411.87
11    12               เหนือ      ลำปาง  ...    3773.95    4202.99   20488.05
12    13               เหนือ  อุตรดิตถ์  ...    2071.57    2206.06   11315.41
13    14                 ใต้     กระบี่  ...  105029.06  118676.13  570696.47
..   ...                 ...        ...  ...        ...        ...        ...
116  125  ตะวันออกเฉียงเหนือ  มหาสารคาม  ...    1092.99    1150.30    5707.42
117  126  ตะวันออกเฉียงเหนือ  มหาสารคาม  ...    1092.99    1150.30    5707.42
132  141  ตะวันออกเฉียงเหนือ    หนองคาย  ...    5152.84    5631.15   31852.78
133  142  ตะวันออกเฉียงเหนือ    หนองคาย  ...    5152.84    5631.15   31852.78
134  143  ตะวันออกเฉียงเหนือ    หนองคาย  ...    5152.84    5631.15   31852.78

[83 rows x 26 columns]

#แปลงให้ข้อมูลอยู่ในรูปแบบเป็น transaction

In [110]:
table = data.groupby('จังหวัด')['ประเภทของระบบ'].apply(list)
table

จังหวัด
กระบี่           [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบเ...
ขอนแก่น          [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
จันทบุรี         [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
ฉะเชิงเทรา       [ระบบผสมผสาน, ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุข...
ชลบุรี           [ระบบผสมผสาน, ระบบผสมผสาน, ระบบฝังกลบขยะมูลฝอย...
ชัยนาท           [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
ชุมพร            [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
ตรัง             [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
นครนายก                   [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
นครศรีธรรมราช    [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
นครสวรรค์        [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
นนทบุรี          [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบเ...
ปทุมธานี         [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, สถานี...
ปราจีนบุรี                [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
พะเยา                     [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
พังงา            [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบก...
พัทลุง           [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, สถานี...
พิจิตร           [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
พิษณุโลก         [สถานีขนถ่ายขยะมูลฝอย, ระบบฝังกลบขยะมูลฝอยแบบถ...
ภูเก็ต                    [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
มหาสารคาม        [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
ยะลา             [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, สถานี...
ระยอง            [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
ราชบุรี                   [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
ลพบุรี           [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
ลำปาง                                                [ระบบผสมผสาน]
สงขลา            [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
สตูล             [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
สมุทรปราการ      [ระบบการจัดการขยะเพื่อผลิตเป็นเชื้อเพลิงและปุ๋...
สมุทรสาคร                 [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
สระบุรี          [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
สิงห์บุรี                                            [ระบบผสมผสาน]
หนองคาย          [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
อุตรดิตถ์                 [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
อ่างทอง          [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบก...
เพชรบุรี                  [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
แพร่                      [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
Name: ประเภทของระบบ, dtype: object

#ขั้นตอนติดตั้ง apyori

In [111]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

#เป็นการเรียกใช้ฟังก์ชัน apriori

In [112]:
from apyori import apriori

#ผลลัพธ์ที่ได้จากการทำ Associantion ซึ่งรายละเอียดจะอยู่ที่ summary

In [113]:
rec = list(apriori(table, min_support = 0.2 , min_confidence = 0.8))
rec

[RelationRecord(items=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล'}), support=0.918918918918919, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล'}), confidence=0.918918918918919, lift=1.0)]),
 RelationRecord(items=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล', 'ระบบผสมผสาน'}), support=0.21621621621621623, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ระบบผสมผสาน'}), items_add=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล'}), confidence=0.8, lift=0.8705882352941177)])]

#สร้างตารางที่ค่าเฉลี่ยนประชากรน้อยกว่า 40

In [117]:
dataP = table_3[table_3['ผลเฉลี่ย']<=40]
dataP

     ที่                 ภาค      จังหวัด  ...      2560       2561  รวมเฉลี่ย
0      1               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
1      2               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
2      3               เหนือ     เชียงราย  ...  26053.86   28548.43  160035.50
3      4               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
4      5               เหนือ    เชียงใหม่  ...  99070.42  108012.95  557866.57
..   ...                 ...          ...  ...       ...        ...        ...
145  154  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
146  155  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
147  156  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
148  157  ตะวันออกเฉียงเหนือ  อุบลราชธานี  ...   7375.12    7990.17   42377.14
149  158  ตะวันออกเฉียงเหนือ   อำนาจเจริญ  ...    429.93     449.62    2585.07

[71 rows x 26 columns]

#แปลงให้ข้อมูลอยู่ในรูปแบบเป็น transaction

In [119]:
table2 = dataP.groupby('จังหวัด')['ประเภทของระบบ'].apply(list)
table2

จังหวัด
กาญจนบุรี               [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
กาฬสินธุ์               [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
กำแพงเพชร      [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบเ...
ชัยภูมิ                 [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
ตาก                                                [ระบบผสมผสาน]
นครพนม         [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
นครสวรรค์      [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
นราธิวาส       [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบก...
น่าน           [ระบบผสมผสาน, ระบบการจัดการขยะเพื่อผลิตเป็นเชื...
บึงกาฬ         [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
บุรีรัมย์      [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
ปัตตานี        [ระบบผสมผสาน, สถานีขนถ่ายขยะมูลฝอย, สถานีขนถ่า...
มุกดาหาร                [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
ยโสธร                                              [ระบบผสมผสาน]
ร้อยเอ็ด       [ระบบการจัดการขยะเพื่อผลิตเป็นเชื้อเพลิงและปุ๋...
ศรีสะเกษ       [ระบบผสมผสาน, ระบบการจัดการขยะเพื่อผลิตเป็นเชื...
สกลนคร         [ระบบผสมผสาน, ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุข...
สระแก้ว        [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
สุพรรณบุรี     [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
สุรินทร์       [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
สุโขทัย                                            [ระบบผสมผสาน]
หนองบัวลำภู    [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
อำนาจเจริญ              [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
อุดรธานี       [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบเ...
อุบลราชธานี    [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบฝ...
เชียงราย       [ระบบผสมผสาน, ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุข...
เชียงใหม่       [ระบบผสมผสาน, สถานีขนถ่ายขยะมูลฝอย, ระบบผสมผสาน]
เพชรบูรณ์      [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล, ระบบผ...
เลย                     [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
แม่ฮ่องสอน              [ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล]
Name: ประเภทของระบบ, dtype: object

#ผลลัพธ์ที่ได้จากการทำ Associantion ซึ่งรายละเอียดจะอยู่ที่ summary

In [120]:
watch = list(apriori(table2, min_support = 0.042 , min_confidence = 0.8))
watch

[RelationRecord(items=frozenset({'สถานีขนถ่ายขยะมูลฝอย', 'ระบบผสมผสาน'}), support=0.06666666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'สถานีขนถ่ายขยะมูลฝอย'}), items_add=frozenset({'ระบบผสมผสาน'}), confidence=1.0, lift=1.875)]),
 RelationRecord(items=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล', 'ระบบเตาเผามูลฝอยติดเชื้อ'}), support=0.06666666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ระบบเตาเผามูลฝอยติดเชื้อ'}), items_add=frozenset({'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล'}), confidence=1.0, lift=1.3043478260869565)])]

#SUMMARY

#จากการทำ Association Rule ที่มี rating มากกว่า 40 คะแนน แล้ว จะเห็นได้ว่า
- โอกาศที่จะเปลี่ยนไปใช้'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล' , 'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล'มีค่าอยู่ที่ร้อยละ 91.89
- โอกาศที่จะใช้ 'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล', 'ระบบผสมผสาน'และ  'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล' มีค่าอยู่ที่ 80.00

#จากการทำ Association Rule ที่มี rating น้อยกว่ากว่า 40 คะแนน แล้ว จะเห็นได้ว่า

- โอกาศที่จะเปลี่ยนไปใช้ 'สถานีขนถ่ายขยะมูลฝอย', 'ระบบผสมผสาน'มีค่าร้อยละอยู่ที่ 100
- โอกาศที่จะเปลี่ยนไปใช้ 'ระบบฝังกลบขยะมูลฝอยแบบถูกหลักสุขาภิบาล', 'ระบบเตาเผามูลฝอยติดเชื้อ',มีค่าร้อยละอยู่ที่ 100