<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/Project%20for%20Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd #ทำงานกับข้อมูลลักษณะตาราง

In [79]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [80]:
import os # os ไว้จัดการไฟล์และถาท ถาทคือที่อยู่ของไฟล์

In [81]:
path = '/content/drive/My Drive/DWDM2021_DATA' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_E20 = pd.read_csv(os.path.join(path,'E20.csv'))
data_E20 #ข้อมูลหลักชุดที่ 1

            จังหวัด ปตท. E20  ... ปตท. ค้าปลีก E20 ปตท. น้ำมันและการค้าปลีก E20
0     กรุงเทพมหานคร    1,587  ...            1,957                        8,695
1       สมุทรปราการ      250  ...              741                        1,868
2           นนทบุรี      102  ...            1,135                        2,155
3          ปทุมธานี       94  ...            1,714                        2,781
4   พระนครศรีอยุธยา       97  ...              734                        1,933
..              ...      ...  ...              ...                          ...
72             ตรัง        0  ...                0                          499
73           พัทลุง        0  ...                0                          416
74          ปัตตานี        0  ...                0                          572
75             ยะลา        0  ...                0                          397
76         นราธิวาส        0  ...                0                          437

[77 rows x 13 columns]

In [82]:
data_G85 = pd.read_csv(os.path.join(path,'G85.csv'))
data_G85.dropna() #ข้อมูลรองชุดที่ 2

            จังหวัด  ปตท. G85  ... ปตท. ค้าปลีก G85  ปตท. น้ำมันและการค้าปลีก G85
0     กรุงเทพมหานคร       328  ...               80                         2,581
1       สมุทรปราการ        60  ...               64                           402
2           นนทบุรี        22  ...                0                           875
3          ปทุมธานี         0  ...                0                           905
4   พระนครศรีอยุธยา        22  ...               18                           533
..              ...       ...  ...              ...                           ...
72             ตรัง         0  ...                0                           132
73           พัทลุง         0  ...                0                            82
74          ปัตตานี         0  ...                0                           106
75             ยะลา         0  ...                0                            76
76         นราธิวาส         0  ...                0                            67

[77 rows x 7 columns]

In [83]:
data_G95 = pd.read_csv(os.path.join(path,'G95.csv'))
data_G95.dropna() #ข้อมูลรองชุดที่ 3

            จังหวัด ปตท. G95  ...  ไออาร์พีซี G95 ปตท. น้ำมันและการค้าปลีก G95
0     กรุงเทพมหานคร    3,674  ...          10,301                       15,428
1       สมุทรปราการ      336  ...               0                        3,261
2           นนทบุรี      158  ...               0                        3,154
3          ปทุมธานี      112  ...               0                        3,650
4   พระนครศรีอยุธยา      109  ...               0                        2,343
..              ...      ...  ...             ...                          ...
72             ตรัง        0  ...               0                          829
73           พัทลุง        0  ...               0                          630
74          ปัตตานี        0  ...               0                        1,604
75             ยะลา        0  ...               0                        1,282
76         นราธิวาส        0  ...               0                          593

[76 rows x 15 columns]

#ดูว่าข้อมูลมี data missing

In [84]:
data_E20.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

    จังหวัด  ปตท. E20  ...  ปตท. ค้าปลีก E20  ปตท. น้ำมันและการค้าปลีก E20
0     False     False  ...             False                         False
1     False     False  ...             False                         False
2     False     False  ...             False                         False
3     False     False  ...             False                         False
4     False     False  ...             False                         False
..      ...       ...  ...               ...                           ...
72    False     False  ...             False                         False
73    False     False  ...             False                         False
74    False     False  ...             False                         False
75    False     False  ...             False                         False
76    False     False  ...             False                         False

[77 rows x 13 columns]

In [85]:
data_G85.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

    จังหวัด  ปตท. G85  ...  ปตท. ค้าปลีก G85  ปตท. น้ำมันและการค้าปลีก G85
0     False     False  ...             False                         False
1     False     False  ...             False                         False
2     False     False  ...             False                         False
3     False     False  ...             False                         False
4     False     False  ...             False                         False
..      ...       ...  ...               ...                           ...
72    False     False  ...             False                         False
73    False     False  ...             False                         False
74    False     False  ...             False                         False
75    False     False  ...             False                         False
76    False     False  ...             False                         False

[77 rows x 7 columns]

In [86]:
data_G95.isnull() #ดูว่าข้อมูลนั้นมี Missing รึป่าว

    จังหวัด  ปตท. G95  ...  ไออาร์พีซี G95  ปตท. น้ำมันและการค้าปลีก G95
0     False     False  ...           False                         False
1     False     False  ...           False                         False
2     False     False  ...           False                         False
3     False     False  ...           False                         False
4     False     False  ...           False                         False
..      ...       ...  ...             ...                           ...
72    False     False  ...           False                         False
73    False     False  ...           False                         False
74    False     False  ...           False                         False
75    False     False  ...           False                         False
76    False     False  ...           False                         False

[77 rows x 15 columns]

#สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing

In [87]:
data_E20.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

จังหวัด                         False
ปตท. E20                        False
เชลล์ E20                       False
เอสโซ่ E20                      False
เชฟรอน(ไทย) E20                 False
บางจาก E20                      False
ซัสโก้ E20                      False
พีทีจี E20                      False
ไทยออยล์ E20                    False
ซัสโก้ ดีลเลอร์ส E20            False
สยามเฆมี E20                    False
ปตท. ค้าปลีก E20                False
ปตท. น้ำมันและการค้าปลีก E20    False
dtype: bool

In [88]:
data_G85.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

จังหวัด                         False
ปตท. G85                        False
บางจาก G85                      False
ซัสโก้ G85                      False
สยามเฆมี G85                    False
ปตท. ค้าปลีก G85                False
ปตท. น้ำมันและการค้าปลีก G85    False
dtype: bool

In [89]:
data_G95.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

จังหวัด                         False
ปตท. G95                        False
เชลล์ G95                       False
เอสโซ่ G95                      False
เชฟรอน(ไทย) G95                 False
บางจาก G95                      False
ซัสโก้ G95                      False
พีทีจี G95                      False
ไทยออยล์ G95                    False
ซัสโก้ ดีลเลอร์ส G95            False
สยามเฆมี G95                    False
ปตท. ค้าปลีก G95                 True
น้ำมัน ไออาร์พีซี G95           False
ไออาร์พีซี G95                  False
ปตท. น้ำมันและการค้าปลีก G95    False
dtype: bool

#รวมตาราง

In [90]:
table = pd.merge(data_E20,data_G85,on='จังหวัด') #รวมตารางข้อมูลชุดที่ 1 และ 2

In [91]:
table

            จังหวัด ปตท. E20  ... ปตท. ค้าปลีก G85 ปตท. น้ำมันและการค้าปลีก G85
0     กรุงเทพมหานคร    1,587  ...               80                        2,581
1       สมุทรปราการ      250  ...               64                          402
2           นนทบุรี      102  ...                0                          875
3          ปทุมธานี       94  ...                0                          905
4   พระนครศรีอยุธยา       97  ...               18                          533
..              ...      ...  ...              ...                          ...
72             ตรัง        0  ...                0                          132
73           พัทลุง        0  ...                0                           82
74          ปัตตานี        0  ...                0                          106
75             ยะลา        0  ...                0                           76
76         นราธิวาส        0  ...                0                           67

[77 rows x 19 columns]

In [92]:
table_3 = pd.merge(table,data_G95,on='จังหวัด') #รวมตารางข้อมูลชุดที่ 1 และ 2 และ 3

In [93]:
table_3

            จังหวัด ปตท. E20  ... ไออาร์พีซี G95 ปตท. น้ำมันและการค้าปลีก G95
0     กรุงเทพมหานคร    1,587  ...         10,301                       15,428
1       สมุทรปราการ      250  ...              0                        3,261
2           นนทบุรี      102  ...              0                        3,154
3          ปทุมธานี       94  ...              0                        3,650
4   พระนครศรีอยุธยา       97  ...              0                        2,343
..              ...      ...  ...            ...                          ...
72             ตรัง        0  ...              0                          829
73           พัทลุง        0  ...              0                          630
74          ปัตตานี        0  ...              0                        1,604
75             ยะลา        0  ...              0                        1,282
76         นราธิวาส        0  ...              0                          593

[77 rows x 33 columns]

In [94]:
table_3.isnull().any()

จังหวัด                         False
ปตท. E20                        False
เชลล์ E20                       False
เอสโซ่ E20                      False
เชฟรอน(ไทย) E20                 False
บางจาก E20                      False
ซัสโก้ E20                      False
พีทีจี E20                      False
ไทยออยล์ E20                    False
ซัสโก้ ดีลเลอร์ส E20            False
สยามเฆมี E20                    False
ปตท. ค้าปลีก E20                False
ปตท. น้ำมันและการค้าปลีก E20    False
ปตท. G85                        False
บางจาก G85                      False
ซัสโก้ G85                      False
สยามเฆมี G85                    False
ปตท. ค้าปลีก G85                False
ปตท. น้ำมันและการค้าปลีก G85    False
ปตท. G95                        False
เชลล์ G95                       False
เอสโซ่ G95                      False
เชฟรอน(ไทย) G95                 False
บางจาก G95                      False
ซัสโก้ G95                      False
พีทีจี G95                      False
ไทยออยล์ G95                    False
ซัสโก้ ดีลเลอร์ส G95            False
สยามเฆมี G95                    False
ปตท. ค้าปลีก G95                 True
น้ำมัน ไออาร์พีซี G95           False
ไออาร์พีซี G95                  False
ปตท. น้ำมันและการค้าปลีก G95    False
dtype: bool

In [95]:
table_3.shape #ตาราง table_3 มี 77 แถว 33 colum

(77, 33)

In [96]:
table_3.mean() #ตวจสอบค่าเฉลี่ยของแต่ละบริษัท

เชฟรอน(ไทย) E20          59.649351
ซัสโก้ E20               11.545455
พีทีจี E20               10.207792
ซัสโก้ ดีลเลอร์ส E20      4.987013
สยามเฆมี E20              0.051948
ปตท. G85                  8.116883
ซัสโก้ G85                1.454545
สยามเฆมี G85              0.259740
ปตท. ค้าปลีก G85          7.623377
เชลล์ G95                 4.480519
พีทีจี G95               93.818182
ซัสโก้ ดีลเลอร์ส G95     18.415584
สยามเฆมี G95              0.051948
น้ำมัน ไออาร์พีซี G95     1.506494
dtype: float64

#สร้างตารางที่ใช้ในการดู challenge

In [97]:
data = table_3[['จังหวัด','ปตท. น้ำมันและการค้าปลีก E20','ปตท. น้ำมันและการค้าปลีก G85','ปตท. น้ำมันและการค้าปลีก G95']]
data

            จังหวัด  ... ปตท. น้ำมันและการค้าปลีก G95
0     กรุงเทพมหานคร  ...                       15,428
1       สมุทรปราการ  ...                        3,261
2           นนทบุรี  ...                        3,154
3          ปทุมธานี  ...                        3,650
4   พระนครศรีอยุธยา  ...                        2,343
..              ...  ...                          ...
72             ตรัง  ...                          829
73           พัทลุง  ...                          630
74          ปัตตานี  ...                        1,604
75             ยะลา  ...                        1,282
76         นราธิวาส  ...                          593

[77 rows x 4 columns]

In [98]:
data.shape #ข้อมูลนี้มี 77 แถว 4 คอลัม

(77, 4)

In [99]:
data.isnull().any() #ตรวจสอบว่าตารางมีค่าว่างหรือไม่ จะเห็นว่าไม่คอลัมน์ที่มีค่าว่าง

จังหวัด                         False
ปตท. น้ำมันและการค้าปลีก E20    False
ปตท. น้ำมันและการค้าปลีก G85    False
ปตท. น้ำมันและการค้าปลีก G95    False
dtype: bool