<a href="https://colab.research.google.com/github/chalarm1405/DWDM21_/blob/main/test_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import os

In [13]:
path = '/content/drive/My Drive/test' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_01 = pd.read_csv(os.path.join(path,'1.csv'))
data_01

,Store,Member No.,Billing Date,Ticket Number,รหัสสินค้า,ชื่อสินค้า,Billing Quantity.Base Unit,Billing Amount (+VAT)
0,S002-RTB,NonMember,1/1/2023,S002230101000119392,1145528,ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,-7.0,"-1,215"
1,S002-RTB,NonMember,1/1/2023,S002230101005039881,1118291,ฝักบัวสายอ่อน KS-39-231-50,1.0,519
2,S002-RTB,NonMember,1/1/2023,S002230101005039881,1077454,เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,1.0,"2,890"
3,S002-RTB,NonMember,1/1/2023,S002230101005039881,291538,หัวปรับความดันต่ำ MEX SPR37S,1.0,455
4,S002-RTB,NonMember,1/1/2023,S002230101005039881,1119482,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,1.0,139
...,...,...,...,...,...,...,...,...
228550,S020-HYI,NonMember,26/11/2022,S020221126005145272,1160172,แคปซูล ค.ชงกาแฟ NESTLE Americano int5,15.0,"4,185"
228551,S020-HYI,1004771131,26/12/2022,S020221226003051813,241545,กระติกน้ำร้อนM SHA KP30ST 2.9L,1.0,"1,029"
228552,S020-HYI,1004771131,26/11/2022,S020221126005145145,1144580,ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,1.0,"7,511"
228553,S020-HYI,1004771131,26/11/2022,S020221126005145145,1084136,ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,1.0,"4,890"
228554,S020-HYI,1004771131,27/11/2022,S020221127005145372,1104248,หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,1.0,"3,190"

In [14]:
path = '/content/drive/My Drive/test' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_02 = pd.read_csv(os.path.join(path,'2.csv'))
data_02

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,รหัสสินค้า,ชื่อสินค้า,Base Unit,กลุ่มสินค้าหลัก,ชื่อกลุ่มสินค้า,กลุ่มสินค้า1,กลุ่มสินค้า1_Desc,กลุ่มสินค้า2,กลุ่มสินค้า2_Desc,กลุ่มสินค้า3,กลุ่มสินค้า3_Desc,Vendor,Vendor_Name,Brand
0,161101,ค.ดีวีดี MAR MRZ9001P,EA,AU,AUDIO,AU01,เครื่องเสียงภายในบ้าน,AU0101,PLAYER,AU010101,DVD PLAYER,500397,เอ็ม อาร์ แซท สแตนดาร์ด,MARANTZ
1,161620,ค.ดีวีดี MAR DV-4300,EA,AU,AUDIO,AU01,เครื่องเสียงภายในบ้าน,AU0101,PLAYER,AU010101,DVD PLAYER,500397,เอ็ม อาร์ แซท สแตนดาร์ด,MARANTZ
2,188436,ค.บันทึกดีวีดี PANA DMR-E500HGCS,EA,AU,AUDIO,AU01,เครื่องเสียงภายในบ้าน,AU0104,ไมโครโฟน,AU010401,ไมโครโฟน,147,พานาโซนิค ซิว เซลส์(ประเทศไทย),PANASONIC
3,203250,ค.ดีวีดี ACO AN-VEITADVD50,EA,AU,AUDIO,AU01,เครื่องเสียงภายในบ้าน,AU0101,PLAYER,AU010101,DVD PLAYER,1246,ไฮไฟ โอเรียนท์ ไทย,ACONATIC
4,207750,ค.บันทึกดีวีดี PANA DMR-EH60GCSS,EA,AU,AUDIO,AU01,เครื่องเสียงภายในบ้าน,AU0104,ไมโครโฟน,AU010401,ไมโครโฟน,147,พานาโซนิค ซิว เซลส์(ประเทศไทย),PANASONIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271322,1225730,"คิวเอ็นอีดีทีวี 75"" LG 75QNED80SQA.ATM",EA,VS,VISUAL,VS02,LED,VS0212,LED QNED,VS021202,"QNED 70"" UP",1676,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG
271323,1225856,"โอแอลอีดีทีวี 55"" SAM QA55S95BAKXXT",EA,VS,VISUAL,VS02,LED,VS0208,OLED,VS020803,"OLED 52""-59""",1102,ไทยซัมซุงอิเลคโทรนิคส์,SAMSUNG
271324,1225864,"โอแอลอีดีทีวี 65"" SAM QA65S95BAKXXT",EA,VS,VISUAL,VS02,LED,VS0208,OLED,VS020804,"OLED 60""-69""",1102,ไทยซัมซุงอิเลคโทรนิคส์,SAMSUNG
271325,1227489,"โอแอลอีดีทีวี POSE 42"" LG 42LX1QPSA.ATM",EA,VS,VISUAL,VS02,LED,VS0208,OLED,VS020801,"OLED 33""-44""",1676,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG
271326,1227525,"โอแอลอีดีทีวี POSE 55"" LG 55LX1QPSA.ATM",EA,VS,VISUAL,VS02,LED,VS0208,OLED,VS020803,"OLED 52""-59""",1676,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG

In [15]:
path = '/content/drive/My Drive/test' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_03 = pd.read_csv(os.path.join(path,'3.1.csv'))
data_03

,Customer No.,ประเภทธุรกิจหลัก,ประเภทธุรกิจย่อย,Cust_type,code size
0,76214,10.หน่วยงานราชการ/สถานศึกษา/วัด,3.วัด/สถานปฏิบัติธรรม,B2B,M
1,195568,3.ช่าง,3.ช่างไฟ,B2B,S
2,644880,11.ร้านค้าช่วง/นายหน้า,1.ร้านค้าปลีก/ร้านค้าส่ง,B2B,SS
3,8115701,12.End User/ลูกบ้าน,3.ลูกบ้าน โครงการคอนโด,B2B,SS
4,10000122,1.ออฟฟิศ/สำนักงาน,1.สำนักงานทั่วไป,B2B,S
...,...,...,...,...,...
7301,k5552,9.โรงงานอุตสาหกรรม,1.โรงงานอุตสาหกรรม,B2B,XL
7302,KJ0610210,11.ร้านค้าช่วง/นายหน้า,2.นายหน้า/โบรคเกอร์,B2B,SS
7303,L4760288,5.ธุรกิจที่พักอาศัย,2.อพาร์ทเมนต์/หอพัก/ห้องเช่า,B2B,S
7304,TI146109,6.โรงแรม/รีสอร์ท/สปา,1.โรงแรม/รีสอร์ท,B2B,M
7305,NaN,NaN,NaN,NaN,NaN

In [16]:
path = '/content/drive/My Drive/test' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_04 = pd.read_csv(os.path.join(path,'4.csv'))
data_04

,Store,Site,Site_Desc,TH_NAME,เขตรับผิดชอบ,Region,Zone,Province,Size Store
0,S002-RTB,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
1,S006-PDP,S006,PDP,พาราไดซ์ พาร์ค,DM15,BKK,BKK,กรุงเทพมหานคร,S
2,S009-RCD,S009,RCD,รัชดาภิเษก,DM3,BKK,BKK,กรุงเทพมหานคร,M
3,S010-PCT,S010,PCT,เพลินจิต,DM20,BKK,BKK,กรุงเทพมหานคร,S
4,S011-PKT,S011,PKT,ภูเก็ต,DM5,S,UP-C,ภูเก็ต,S
5,S012-CMI,S012,CMI,เชียงใหม่,DM6,N,UP-C,เชียงใหม่,S
6,S013-RKH,S013,RKH,รามคำแหง,DM12,BKK,BKK,กรุงเทพมหานคร,SS
7,S014-RMA,S014,RMA,พระราม 2,DM4,BKK,BKK,กรุงเทพมหานคร,L
8,S015-PCC,S015,PCC,สำนักงานใหญ่,DM18,BKK,BKK,นนทบุรี,L
9,S016-LPO,S016,LPO,ลาดพร้าว,DM19,BKK,BKK,กรุงเทพมหานคร,S
10,S017-RIT,S017,RIT,เอกมัย-รามอินทรา,DM12,BKK,BKK,กรุงเทพมหานคร,XL
11,S018-PTY,S018,PTY,พัทยา,DM10,E,UP-C,ชลบุรี,SS
12,S019-CWN,S019,CWN,แจ้งวัฒนะ,DM15,BKK,BKK,นนทบุรี,M
13,S020-HYI,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S
14,S021-PKS,S021,PKS,เพชรเกษม,DM3,BKK,BKK,กรุงเทพมหานคร,M
15,S022-RJP,S022,RJP,ราชพฤกษ์,DM17,BKK,BKK,นนทบุรี,L
16,S023-HHN,S023,HHN,หัวหิน,DM7,C,UP-C,ประจวบคีรีขันธ์,M
17,S024-SVB,S024,SVB,สุวรรณภูมิ,DM5,BKK,BKK,สมุทรปราการ,S
18,S025-SMI,S025,SMI,สมุย,DM7,S,UP-C,สุราษฎร์ธานี,S
19,S026-PSL,S026,PSL,พิษณุโลก,DM1,N,UP-C,พิษณุโลก,M
20,S027-KKN,S027,KKN,ขอนแก่น,DM8,NE,UP-C,ขอนแก่น,L
21,S028-UDN,S028,UDN,อุดรธานี,DM9,NE,UP-C,อุดรธานี,M
22,S030-CBR,S030,CBR,ชลบุรี,DM11,E,UP-C,ชลบุรี,S
23,S031-RYG,S031,RYG,ระยอง,DM3,E,UP-C,ระยอง,M
24,S032-CMH,S032,CMH,หางดง,DM6,N,UP-C,เชียงใหม่,M
25,S033-AYY,S033,AYY,อยุธยา,DM14,C,UP-C,พระนครศรีอยุธยา,S
26,S034-KBI,S034,KBI,กระบี่,DM13,S,UP-C,กระบี่,S
27,S035-PKC,S035,PKC,ภูเก็ต (ฉลอง),DM5,S,UP-C,ภูเก็ต,M
28,S036-KYI,S036,KYI,เขาใหญ่,DM4,NE,UP-C,นครราชสีมา,S
29,S037-NKT,S037,NKT,นครปฐม,DM2,C,UP-C,นครปฐม,M
30,S038-NKM,S038,NKM,นครราชสีมา,DM8,NE,UP-C,นครราชสีมา,M
31,S039-LLK,S039,LLK,ลำลูกกา,DM12,BKK,BKK,ปทุมธานี,M
32,S040-SKB,S040,SKB,สุขาภิบาล 3,DM2,BKK,BKK,กรุงเทพมหานคร,S
33,S041-NKR,S041,NKR,นครศรีธรรมราช,DM6,S,UP-C,นครศรีธรรมราช,M
34,S042-CCS,S042,CCS,ฉะเชิงเทรา,DM3,E,UP-C,ฉะเชิงเทรา,S
35,S043-RET,S043,RET,ร้อยเอ็ด,DM9,NE,UP-C,ร้อยเอ็ด,S
36,S044-SPR,S044,SPR,สุพรรณบุรี,DM17,C,UP-C,สุพรรณบุรี,M
37,S045-LBR,S045,LBR,ลพบุรี,DM16,C,UP-C,ลพบุรี,S
38,S046-SKK,S046,SKK,สกลนคร,DM9,NE,UP-C,สกลนคร,SS
39,S047-TRG,S047,TRG,ตรัง,DM13,S,UP-C,ตรัง,S
40,S048-MGB,S048,MGB,เมกาบางนา,DM1,BKK,BKK,สมุทรปราการ,L
41,S049-BRR,S049,BRR,บุรีรัมย์,DM8,NE,UP-C,บุรีรัมย์,S
42,S050-HYK,S050,HYK,สาขาหาดใหญ่(กาญจนวนิช),DM5,S,UP-C,สงขลา,M

#เช็คค่า missing

In [17]:
data_01.isnull()

,Store,Member No.,Billing Date,Ticket Number,รหัสสินค้า,ชื่อสินค้า,Billing Quantity.Base Unit,Billing Amount (+VAT)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
228550,False,False,False,False,False,False,False,False
228551,False,False,False,False,False,False,False,False
228552,False,False,False,False,False,False,False,False
228553,False,False,False,False,False,False,False,False
228554,False,False,False,False,False,False,False,False

In [18]:
data_02.isnull()

,รหัสสินค้า,ชื่อสินค้า,Base Unit,กลุ่มสินค้าหลัก,ชื่อกลุ่มสินค้า,กลุ่มสินค้า1,กลุ่มสินค้า1_Desc,กลุ่มสินค้า2,กลุ่มสินค้า2_Desc,กลุ่มสินค้า3,กลุ่มสินค้า3_Desc,Vendor,Vendor_Name,Brand
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271322,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271323,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271324,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271325,False,False,False,False,False,False,False,False,False,False,False,False,False,False
271326,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
data_03.isnull()

      Customer No.  ประเภทธุรกิจหลัก  ประเภทธุรกิจย่อย  Cust_type  code size
0            False             False             False      False      False
1            False             False             False      False      False
2            False             False             False      False      False
3            False             False             False      False      False
4            False             False             False      False      False
...            ...               ...               ...        ...        ...
7301         False             False             False      False      False
7302         False             False             False      False      False
7303         False             False             False      False      False
7304         False             False             False      False      False
7305          True              True              True       True       True

[7306 rows x 5 columns]

In [20]:
data_04.isnull()

,Store,Site,Site_Desc,TH_NAME,เขตรับผิดชอบ,Region,Zone,Province,Size Store
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False

In [21]:
data_01.isnull().any()

Store                         False
Member No.                    False
Billing Date                  False
Ticket Number                 False
รหัสสินค้า                    False
ชื่อสินค้า                    False
Billing Quantity.Base Unit    False
 Billing Amount (+VAT)        False
dtype: bool

In [22]:
data_02.isnull().any()

รหัสสินค้า           False
ชื่อสินค้า           False
Base Unit            False
กลุ่มสินค้าหลัก      False
ชื่อกลุ่มสินค้า      False
กลุ่มสินค้า1         False
กลุ่มสินค้า1_Desc    False
กลุ่มสินค้า2         False
กลุ่มสินค้า2_Desc    False
กลุ่มสินค้า3         False
กลุ่มสินค้า3_Desc    False
Vendor               False
Vendor_Name          False
Brand                 True
dtype: bool

In [23]:
data_03.isnull().any()

Customer No.        True
ประเภทธุรกิจหลัก    True
ประเภทธุรกิจย่อย    True
Cust_type           True
code size           True
dtype: bool

In [24]:
data_04.isnull().any()

Store           False
Site            False
Site_Desc       False
TH_NAME         False
เขตรับผิดชอบ    False
Region          False
Zone            False
Province        False
Size Store      False
dtype: bool

#รวมตาราง

In [25]:
data = data_01.merge(data_02,how='left',left_on='รหัสสินค้า',right_on='รหัสสินค้า')   
data

,Store,Member No.,Billing Date,Ticket Number,รหัสสินค้า,ชื่อสินค้า_x,Billing Quantity.Base Unit,Billing Amount (+VAT),ชื่อสินค้า_y,Base Unit,...,ชื่อกลุ่มสินค้า,กลุ่มสินค้า1,กลุ่มสินค้า1_Desc,กลุ่มสินค้า2,กลุ่มสินค้า2_Desc,กลุ่มสินค้า3,กลุ่มสินค้า3_Desc,Vendor,Vendor_Name,Brand
0,S002-RTB,NonMember,1/1/2023,S002230101000119392,1145528,ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,-7.0,"-1,215",ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,BOX,...,FLOOR & WALL CERAMIC,FC01,กระเบื้องเซรามิค,FC0102,กระเบื้องพื้น,FC010202,พื้นภายใน,3500,เอสซีจี เซรามิกส์,TARA
1,S002-RTB,NonMember,1/1/2023,S002230101005039881,1118291,ฝักบัวสายอ่อน KS-39-231-50,1.0,519,ฝักบัวสายอ่อน KS-39-231-50,EA,...,BATHROOM,BR03,ก๊อกน้ำ,BR0302,ฝักบัว,BR030209,ฝักบัวสายอ่อน,907,กะรัต เอ็นเตอร์ไพรส์ (ประเทศไทย),KARAT FAUCET
2,S002-RTB,NonMember,1/1/2023,S002230101005039881,1077454,เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,1.0,"2,890",เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,EA,...,KITCHEN,KC01,เครื่องใช้ไฟฟ้าในครัว,KC0109,เตาแก๊ส,KC010901,เตาแก๊สตั้งโต๊ะ,210,เพ็น เค อินเตอร์เทรดดิ้ง,MEX
3,S002-RTB,NonMember,1/1/2023,S002230101005039881,291538,หัวปรับความดันต่ำ MEX SPR37S,1.0,455,หัวปรับความดันต่ำ MEX SPR37S,EA,...,KITCHEN,KC01,เครื่องใช้ไฟฟ้าในครัว,KC0110,อุปกรณ์,KC011001,หัวปรับความดันต่ำ,210,เพ็น เค อินเตอร์เทรดดิ้ง,MEX
4,S002-RTB,NonMember,1/1/2023,S002230101005039881,1119482,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,1.0,139,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,EA,...,KITCHEN,KC01,เครื่องใช้ไฟฟ้าในครัว,KC0110,อุปกรณ์,KC011010,สายยางแก๊สอย่างหนา,1398,ไอบิส อินเตอร์เนชั่นแนล,PARNO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228550,S020-HYI,NonMember,26/11/2022,S020221126005145272,1160172,แคปซูล ค.ชงกาแฟ NESTLE Americano int5,15.0,"4,185",แคปซูล ค.ชงกาแฟ NESTLE Americano int5,EA,...,SMALL APPLIANCES,SA02,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,SA0208,เครื่องทำกาแฟ,SA020805,แคปซูล ค.ชงกาแฟ,3104,เนสท์เล่ (ไทย),NESTLE
228551,S020-HYI,1004771131,26/12/2022,S020221226003051813,241545,กระติกน้ำร้อนM SHA KP30ST 2.9L,1.0,"1,029",กระติกน้ำร้อนM SHA KP30ST 2.9L,EA,...,SMALL APPLIANCES,SA02,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,SA0206,กระติกน้ำร้อน,SA020602,กระติกน้ำร้อน MANUAL,1309,กรุงไทยการไฟฟ้า,SHARP
228552,S020-HYI,1004771131,26/11/2022,S020221126005145145,1144580,ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,1.0,"7,511",ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,EA,...,MAJOR APPLIANCES,MA03,เครื่องซักผ้า,MA0303,เครื่องซักผ้า 2 ถัง,MA030307,เครื่องซักผ้า 2 ถัง 13.0-13.9KG,1676,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG
228553,S020-HYI,1004771131,26/11/2022,S020221126005145145,1084136,ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,1.0,"4,890",ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,EA,...,POWER TOOLS,PT02,เครื่องมือทำความสะอาด,PT0201,เครื่องฉีดน้ำ,PT020101,เครื่องฉีดน้ำ,229,โรเบิร์ต บ๊อช,BOSCH
228554,S020-HYI,1004771131,27/11/2022,S020221127005145372,1104248,หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,1.0,"3,190",หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,EA,...,SMALL APPLIANCES,SA02,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,SA0206,กระติกน้ำร้อน,SA020603,หม้อต้มน้ำไฟฟ้า,113,ศิริเจริญการไฟฟ้า,MITSUMARU

In [26]:
data_x = data.merge(data_04,how='left',left_on='Store',right_on='Store')   
data_x

,Store,Member No.,Billing Date,Ticket Number,รหัสสินค้า,ชื่อสินค้า_x,Billing Quantity.Base Unit,Billing Amount (+VAT),ชื่อสินค้า_y,Base Unit,...,Vendor_Name,Brand,Site,Site_Desc,TH_NAME,เขตรับผิดชอบ,Region,Zone,Province,Size Store
0,S002-RTB,NonMember,1/1/2023,S002230101000119392,1145528,ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,-7.0,"-1,215",ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,BOX,...,เอสซีจี เซรามิกส์,TARA,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
1,S002-RTB,NonMember,1/1/2023,S002230101005039881,1118291,ฝักบัวสายอ่อน KS-39-231-50,1.0,519,ฝักบัวสายอ่อน KS-39-231-50,EA,...,กะรัต เอ็นเตอร์ไพรส์ (ประเทศไทย),KARAT FAUCET,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
2,S002-RTB,NonMember,1/1/2023,S002230101005039881,1077454,เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,1.0,"2,890",เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,EA,...,เพ็น เค อินเตอร์เทรดดิ้ง,MEX,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
3,S002-RTB,NonMember,1/1/2023,S002230101005039881,291538,หัวปรับความดันต่ำ MEX SPR37S,1.0,455,หัวปรับความดันต่ำ MEX SPR37S,EA,...,เพ็น เค อินเตอร์เทรดดิ้ง,MEX,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
4,S002-RTB,NonMember,1/1/2023,S002230101005039881,1119482,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,1.0,139,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,EA,...,ไอบิส อินเตอร์เนชั่นแนล,PARNO,S002,RTB,รัตนาธิเบศร์,DM4,BKK,BKK,นนทบุรี,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228550,S020-HYI,NonMember,26/11/2022,S020221126005145272,1160172,แคปซูล ค.ชงกาแฟ NESTLE Americano int5,15.0,"4,185",แคปซูล ค.ชงกาแฟ NESTLE Americano int5,EA,...,เนสท์เล่ (ไทย),NESTLE,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S
228551,S020-HYI,1004771131,26/12/2022,S020221226003051813,241545,กระติกน้ำร้อนM SHA KP30ST 2.9L,1.0,"1,029",กระติกน้ำร้อนM SHA KP30ST 2.9L,EA,...,กรุงไทยการไฟฟ้า,SHARP,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S
228552,S020-HYI,1004771131,26/11/2022,S020221126005145145,1144580,ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,1.0,"7,511",ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,EA,...,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S
228553,S020-HYI,1004771131,26/11/2022,S020221126005145145,1084136,ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,1.0,"4,890",ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,EA,...,โรเบิร์ต บ๊อช,BOSCH,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S
228554,S020-HYI,1004771131,27/11/2022,S020221127005145372,1104248,หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,1.0,"3,190",หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,EA,...,ศิริเจริญการไฟฟ้า,MITSUMARU,S020,HYI,หาดใหญ่,DM5,S,UP-C,สงขลา,S

In [27]:
data_x.isnull().any()

Store                         False
Member No.                    False
Billing Date                  False
Ticket Number                 False
รหัสสินค้า                    False
ชื่อสินค้า_x                  False
Billing Quantity.Base Unit    False
 Billing Amount (+VAT)        False
ชื่อสินค้า_y                  False
Base Unit                     False
กลุ่มสินค้าหลัก               False
ชื่อกลุ่มสินค้า               False
กลุ่มสินค้า1                  False
กลุ่มสินค้า1_Desc             False
กลุ่มสินค้า2                  False
กลุ่มสินค้า2_Desc             False
กลุ่มสินค้า3                  False
กลุ่มสินค้า3_Desc             False
Vendor                        False
Vendor_Name                   False
Brand                          True
Site                          False
Site_Desc                     False
TH_NAME                       False
เขตรับผิดชอบ                  False
Region                        False
Zone                          False
Province                      False
Size Store                    False
dtype: bool

In [28]:
total = data_x[['Store','ชื่อสินค้า_x','ชื่อกลุ่มสินค้า','กลุ่มสินค้า1_Desc','กลุ่มสินค้า2_Desc','กลุ่มสินค้า3_Desc','Vendor_Name','Brand','Province']]
total

,Store,ชื่อสินค้า_x,ชื่อกลุ่มสินค้า,กลุ่มสินค้า1_Desc,กลุ่มสินค้า2_Desc,กลุ่มสินค้า3_Desc,Vendor_Name,Brand,Province
0,S002-RTB,ก/บพื้น 16X16 เวียงก้า น้ำตาล PM 0.96M2,FLOOR & WALL CERAMIC,กระเบื้องเซรามิค,กระเบื้องพื้น,พื้นภายใน,เอสซีจี เซรามิกส์,TARA,นนทบุรี
1,S002-RTB,ฝักบัวสายอ่อน KS-39-231-50,BATHROOM,ก๊อกน้ำ,ฝักบัว,ฝักบัวสายอ่อน,กะรัต เอ็นเตอร์ไพรส์ (ประเทศไทย),KARAT FAUCET,นนทบุรี
2,S002-RTB,เตาแก๊สตั้งโต๊ะ 2G MR MEX PC727CB,KITCHEN,เครื่องใช้ไฟฟ้าในครัว,เตาแก๊ส,เตาแก๊สตั้งโต๊ะ,เพ็น เค อินเตอร์เทรดดิ้ง,MEX,นนทบุรี
3,S002-RTB,หัวปรับความดันต่ำ MEX SPR37S,KITCHEN,เครื่องใช้ไฟฟ้าในครัว,อุปกรณ์,หัวปรับความดันต่ำ,เพ็น เค อินเตอร์เทรดดิ้ง,MEX,นนทบุรี
4,S002-RTB,สายยางแก๊สอย่างหนา PAR KNITTING 1.5 M,KITCHEN,เครื่องใช้ไฟฟ้าในครัว,อุปกรณ์,สายยางแก๊สอย่างหนา,ไอบิส อินเตอร์เนชั่นแนล,PARNO,นนทบุรี
...,...,...,...,...,...,...,...,...,...
228550,S020-HYI,แคปซูล ค.ชงกาแฟ NESTLE Americano int5,SMALL APPLIANCES,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,เครื่องทำกาแฟ,แคปซูล ค.ชงกาแฟ,เนสท์เล่ (ไทย),NESTLE,สงขลา
228551,S020-HYI,กระติกน้ำร้อนM SHA KP30ST 2.9L,SMALL APPLIANCES,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,กระติกน้ำร้อน,กระติกน้ำร้อน MANUAL,กรุงไทยการไฟฟ้า,SHARP,สงขลา
228552,S020-HYI,ค.ซักผ้า2T LG TT13WARG.DLGPETH 13KG,MAJOR APPLIANCES,เครื่องซักผ้า,เครื่องซักผ้า 2 ถัง,เครื่องซักผ้า 2 ถัง 13.0-13.9KG,แอลจี อีเลคทรอนิคส์ (ประเทศไทย),LG,สงขลา
228553,S020-HYI,ค.ฉีดน้ำ BOSCH AQUATAK125 125BAR 1500W,POWER TOOLS,เครื่องมือทำความสะอาด,เครื่องฉีดน้ำ,เครื่องฉีดน้ำ,โรเบิร์ต บ๊อช,BOSCH,สงขลา
228554,S020-HYI,หม้อต้มน้ำไฟฟ้า MIZ KT-119 20L,SMALL APPLIANCES,เครื่องใช้ไฟฟ้าขนาดเล็กในครัว,กระติกน้ำร้อน,หม้อต้มน้ำไฟฟ้า,ศิริเจริญการไฟฟ้า,MITSUMARU,สงขลา